
{% load static %}


<html>
<head>

    <title>Primera pagina con django</title>

    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">


</head>
<body>

{% include "barra.html" %} {# esto es plantillas incrustadas #}


<h1>esto es django carajo!!! <a href="http://www.google.com">Entrar a google</a></h1>
<img src="{% static 'CLIENTES.png' %}"/>
<p>Mi nombre es {{nombre_persona.upper}} y mi apellido es {{apellido_persona}}</p>
<p>y la fecha actual es en el d&iacute;a: {{fecha.day}} / {{fecha.month}} / {{fecha.year}}</p>
<p>el nombre de la clase Persona es {{nombreObjeto}} y el apellido es {{apellidoObjeto}}</p>
<p>{{temasDelCurso}}</p>
<p>{{temasDelCurso.1}}
<p>{{listaNombre}}</p>
<p><strong> lo pomngo en negrita</strong></p>

<p>
    {% for elNombre in listaNombre %}
     <p>{{elNombre}}<p/>
    {% endfor %}



</p>

<p>
    <ul>
    {% if listaVacia %}
        {% for elnombre in listaVacia %}
            <li>{{elnombre}}</li>
        {% endfor %}

     {% else%}
         <P>la lista esta vacia</P>
     {% endif %}
     </ul>

</p>

{% if apellidoObjeto == 'Peruchis' %}
<p class="uno">es el apellido que estudia django</p>
{% else %}
<p>no es el apellido del que estudia el curso</p>

{% endif %}


{# los filtros ejemplo, tambien se pueden agregar a una lista, hay un monton#}
<p>{{apellidoObjeto|lower|first}}</p>


<a href="/abrirLink">ir al index2</a>

</body>


</html>