<html>
{% extends "proyectoWebApp/Padre.html"%}
<head>





</head>
<body>


  {% block content %}




  <div class="contenedorFormulario">

    {% if "valido" in request.GET%}

    <p style="color: white; ">La informacion se ha enviado correctamente, Gracias!!!</p>


    {% endif %}


    <form action="" method="POST" style="text-align: center">
      {% csrf_token %} <!-- es una clave de seguridad que permite enviar el formulario a traves del navegador, sino daria error para que otras personas no envien desde este formulario -->
    <table style="color: white; margin: 20px auto;">{{miFormulario.as_table}}</table>
      <input type="submit" value="ENVIAR" style="width: 150px;">


</form>
  </div>

{% endblock %}


</body>


</html>