<html>
{% extends "proyectoWebApp/Padre.html"%}

<head>



</head>

<body>


{% block content %}
<div>
{% if "valido" in request.GET%}

    <p style="color: white; text-align:center;">El pedido se ha realizado correctamente, Gracias!!!</p>


    {% endif %}
          </div>
   <div class="container">

       <div style="float:right;"> <!-- aca va a ir el carrito de compra antes del for !-->

           {% if request.user.is_authenticated %}  <!-- si el usuario esta autenticado me muestras el carro y si no, no me lo muestras !-->

              {% include "carro/widget.html" %} <!-- con esto me importa el widget !-->

           {% else %}

              <div class="alert alert-danger text-center">Hacer login para ver Carro</div>


           {% endif %}
       </div>




     <div class="row">

    {% for producto in productos %}
         <div class="col-md-3">
     <div class="card" style="width: 95%; margin: 9px 9px;"> <!-- el ancho estaba en 85 se lo cambie a 95 para centrar los botones !-->



     <img src="{{producto.imagen.url}}">

         <div class="card-body" style="text-align: center;">

          <h7 class="card-title">{{producto.nombre}}</h7>
             <p class="card-text">{{producto.precio}}&nbsp$</p>


         </div> <!--  cierra el   card-body !-->

           <div class="card-footer text-center"><!-- para que me centre el boton, el boton va ubicado fuera del card-body, pero dentro del card !-->
               <a href="{% url 'carro:agregar' producto.id %}"  class="btn btn-success" >Agregar al carro</a> <!-- adonde nos lleva el vinculo en el futuro !-->
           </div>
           </div> <!--  cierra el   card  !-->
         </div> <!--  cierra el   col  !-->





  {% endfor %}
   </div> <!--  cierra el   row  !-->
       </div> <!--  cierra el   container  !-->



{% endblock %}



</body>



</html>