
<table class="table table-bordered" style ="color: white;">

<thead>  <!-- thead es la cabecera de la tabla !-->

  <tr>  <!-- tr es la correspondiente  fila !-->


      <th colspan="3" class="text-center"> <!-- th es la correspondiente  columna, colspan es para que tenga 3 columnas !-->

        Carro compras


      </th>





  </tr>

  <tr>

       <th>Producto</th>
       <th>Cantidad</th>
       <th>Suma</th>

  </tr>







</thead>

    <tbody>


    {% if request.session.carro.items %} <!-- este if es si hemos agregado elementos al carro !-->
       {% for key, value in request.session.carro.items %}<!-- en este for recorremos todos los articulos que se hayan agregado al carro y mostrarlo !-->
        <tr class ="text-center"> <!--a cada vuelta de bucle una fila nueva !-->

        <td>{{value.nombre}}</td>  <!-- en la primera columna accedemos al nombre !-->
        <td>{{value.cantidad}}</td> <!-- en la segunda columna accedemos al cantidad !-->

         <td>  <!-- ahora ponemos los botones !-->
           <a href="{% url 'carro:agregar' value.producto_id %}" class="btn btn-sm btn-success">+</a><!-- aca le envio el id a la url !-->
           <a href="{% url 'carro:restar' value.producto_id %}" class="btn btn-sm btn-success">-</a><br>  <!-- br salto de linea !-->
           {{value.precio}} $
         </td>




        </tr>


       {% endfor%}

       {% else %} <!-- este else es si por no hemos agregado elementos al carro entonces que me salga una advertencia !-->


       <tr> <!-- tr es fila !-->

           <td colspan="3"> <!-- que el mensaje ocupe 3 columnas con cospan !-->
               <div class="alert alert-danger text-center"> <!-- alert alert-danger es una clase de boostrap !-->


                sin productos




               </div>



           </td>

       </tr>

    {% endif %}





    </tbody>
    <tfoot>  <!-- para poner el precio total (la variable global que creamos) tfoot significa pie !-->
    <tr>  <!--tr es fila!-->

      <td colspan="3">


     Total  {{importe_total_carro}}

      </td>



    </tr>




    </tfoot>




</table>